language: ruby

rvm:
  - 2.1
  - 2.2
  - 2.3.1

gemfile:
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_4.2.gemfile
  - gemfiles/rails_4.1.gemfile

matrix:
  exclude:
    - rvm: 2.1
      gemfile: gemfiles/rails_5.0.gemfile

before_install:
  - if ruby --version | cut -d ' ' -f 2 | grep -q 2.1.5p273 ; then gem update --system 2.4.8; fi
